:root {
  --azul: #4f7cac;
  --celeste: #91e5f6;
  --naranja: #ffc700;
  --azul-oscuro: #201e50;
  --fucsia: #e75a7c;
  --blanco: #fff;
  --negro: #000;
  --gris: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
